.popup-login {
  @include centerElement;
  background-color: $color-white;
  z-index: 401;
  box-shadow: $default-shadow;
  width: auto;
  border-radius: .5rem;
  background-image:  linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 60%, transparent 60%), url("../images/background-1.png");
  background-size: cover;
  overflow: hidden;
  display: table;

    &__left {
      padding: 5rem 5rem;
      width: 75%;
      display: table-cell;
      vertical-align: middle;
    }

    &__right {
      padding: 5rem 5rem;
      width: 25%;
      display: table-cell;
      vertical-align: middle;
    }

    &__logo-box {
      display: block;
    }

    &__logo {
      display: block;
      margin: 0 auto;
      height: 20rem;
      filter: drop-shadow(0 1rem 1.5rem rgba($color-black, .5));
    }

    &__close {
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      text-shadow: 0 .25rem .5rem rgba($color-black, .6);
      color: $color-white;
      transition: all .3s;

        &:hover {
          color: $color-primary;
          cursor: pointer;
        }
    }

    &__open-icon {
      position: fixed;
      top: 2rem;
      right: 2rem;
      color: $color-white;
      text-shadow: 0 .5rem 1.25rem rgba($color-black, .35);
      transition: all .3s;
      z-index: 399;

      &:hover {
        color: $color-primary-light;
        cursor: pointer;
      }
    }

    &__caption {
      position: fixed;
      top: 6.5rem;
      right: 1.1rem;
      color: $color-primary-light;
      background-color: $color-grey-dark-3;
      clip-path: polygon(0 10%, 40% 10%, 50% 0, 60% 10%, 100% 10%, 100% 100%, 0 100%);
      font-size: .8rem;
      padding: .5rem 1rem;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
    }

    &__open:hover + &__caption {
      opacity: 1;
      visibility: visible;
    }

    .form__input {
      width: 100%;
    }
}