 .u-center-text {
  text-align: center;
}

// Bottom margins
.u-margin-bottom-xs {
  margin-bottom: 1rem;
}
.u-margin-bottom-sm {
  margin-bottom: 4rem;

    @include respond(tab-port) {
      margin-bottom: 2.8rem !important;
    }
}
.u-margin-bottom-md {
  margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 5rem !important;
    }
}
.u-margin-bottom-lg {
  margin-bottom: 12rem;

    @include respond(tab-port) {
      margin-bottom: 8rem !important;
    }
}
.u-margin-bottom-xlg {
  margin-bottom: 16rem;
}

// Top margins
.u-margin-top-xs {
  margin-top: 1rem;
}
.u-margin-top-sm {
  margin-top: 4rem;

    @include respond(tab-port) {
      margin-top: 3.8rem !important;
    }
}
.u-margin-top-md {
  margin-top: 8rem;

    @include respond(tab-port) {
      margin-top: 5rem !important;
    }
}
.u-margin-top-lg {
  margin-top: 12rem;

    @include respond(tab-port) {
      margin-top: 8rem !important;
    }
}
.u-margin-top-xlg {
  margin-top: 16rem;
}

// Container

   .container {
       padding: 2rem;
       border-radius: .3rem;
       background-color: rgba($color-white, .85);
       box-shadow: $default-shadow;
   }