.section-login {
  padding: 10rem 5rem;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85)), url("../images/site/concert-1.png");
  background-size: cover;

    .form__input {
      width: 100%;
    }
}