.section-register {
  padding: 10rem 5rem;
  background-image: linear-gradient(to bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85)), url("../images/site/concert-1.png");
  background-size: cover;
  height: auto;

    .form__input {
      width: 100%;
    }
}

.section-login {
  position: relative;
}